<footer class="footer">
  <small>
    <ul> 
      <li> 650 W. Lake - Chicago, IL </li>
      <li>  (630) 248-0777  </li>
      <li> info@gulchsolutions.com</li> 
    </ul>
   
  </small>
  <nav>
    <ul>
 
    </ul>
  </nav>
</footer>